<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >

<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
				
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_casComitee.html" class="enlace">Home <img src="/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/manageElderlyRequests.html" class="enlace">Manage elderly request <img src="/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/manageElderlyPeople.html" class="enlace">Manage elderly people <img src="/manage.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<br>
						<h1> List of your requests</h1>
						
						
						
						<br>
						<br>
						<table class="greenTableData">
							<thead>	
								<tr>
									<th>Service Type</th>
									<th>State</th>
									<th>Begin Date</th>
									<th>End Date</th>
									<th>Date Approbation</th>
									<th>Comments</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>								
								</tr>
							</thead>
							
							
							
							
							<tbody>
								<tr th:each="request: ${requestsWaiting}">
									<td th:text="${request.serviceType}" class="hover"></td>
									<td class="hover" th:text="${request.state}"></td>
									<td class="hover" th:text="${#temporals.format(request.beginDate,'dd-MM-yyyy')}"></td>
									<td class="hover" th:text="${#temporals.format(request.endDate,'dd-MM-yyyy')}" ></td>
									<td class="hover" th:text="${#temporals.format(request.dateApprobation,'dd-MM-yyyy')}"></td>
									<td class="hover" th:text="${request.comments}" ></td>
										

									<td class="hover">
										<a th:href="@{/request/updateRequest/{idRequest}(idRequest=${request.idRequest})}">
										<img src="/edit.png" height="50" width="50" class="hover">
										</a>
			
										</td>
									
									<td >
										<a th:href="@{/request/deleteUser/{idRequest}(idRequest=${request.idRequest})}">
										<img src="/accept.png" height="50" width="50" class="hover">
										</a>
									</td>
									
									
									<td >
										<a th:href="@{/request/deleteUser/{idRequest}(idRequest=${request.idRequest})}">
										<img src="/deny.png" height="50" width="50" class="hover">
										</a>
									</td>
									
									<td >
										<a th:href="@{/request/deleteUser/{idRequest}(idRequest=${request.idRequest})}">
										<img src="/delete.png" height="50" width="50" class="hover">
										</a>
									</td>
										
								</tr>
							</tbody>
						</table>
						<br>
						<a href="/manageElderlyRequests.html" class="myButton">Back</a> 
						<br>
						<br>
						<br>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>