<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/theme.css">
<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="3">Elderly People at Home</th>
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="3">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td><a href="/index_ElderlyPeople.html">Home</a></td>

				<td><a href="request/addUser">Add new request</a></td>

				<td><a href="request/listUser">See all request</a></td>



			</tr>

			<tr>

				<td colspan="3">
					<center>

						<br> <br>
						<h2>Update your request</h2>
						<br> <br>

						<form action="#" th:action="@{/request/updateUser}"
							th:object="${request}" method="post">
							<table class="greenTable3">
								<tr>
									<td><label>Request ID</label></td>
									<td><input type="number" th:field="*{idRequest}" readonly /></td>
								</tr>
								<tr>
									<td><label>Service type</label></td>
									<td><select th:field="*{serviceType}">
											<option value="Catering">Catering</option>
											<option value="Cleaning">Cleaning</option>
											<option value="Sanity">Sanity</option>
											<option value="Others">Others</option>
									</select></td>
								</tr>
								<tr>
									<td><label>State</label></td>
									<td><input type="text" th:field="*{state}" readonly /></td>
								</tr>
								<tr>
									<td><label>Begin date</label></td>
									<td><input type="text" th:field="*{beginDate}"
										placeholder="dd-MM-yyyy" /></td>
								</tr>
								<tr>
									<td><label>End date</label></td>
									<td><input type="text" th:field="*{endDate}"
										placeholder="dd-MM-yyyy" /></td>
								</tr>
								<tr>
									<td><label>Approbation date</label></td>
									<td><input type="text" th:field="*{dateApprobation}"
										placeholder="dd-MM-yyyy" readonly /></td>
								</tr>
								<tr>
									<td><label>Comments</label></td>
									<td><input type="text" th:field="*{comments}" /></td>
								</tr>

								<tr>
									<td colspan="2"><input type="submit"
										value="Modify request" /></td>
								</tr>
							</table>
						</form>
						<br> <br> <br>


					</center>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>