<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/theme.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa"/>
<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="3">Elderly People at Home</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<td colspan="3">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_ElderlyPeople.html" class="enlace">Home <img src="/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/request/addUser" class="enlace">Add new request <img src="/add.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/request/listUser" class="enlace">See all request <img src="/see.png" height="50" width="50"></a></td>
			</tr>

			<tr>
				<td colspan="3">
					<center>
						<br> 
						<br>
						<h1>Update your request</h1>
						<br> 
						<br>

						<form action="#" th:action="@{/request/updateUser}" th:object="${request}" method="post">
							
							<table class="greenTable3">
								<tr>
									<td><label class="data_title">Request ID</label></td>
									<td><input class="data" type="number" th:field="*{idRequest}" readonly /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">Service Type</label></td>
									<td><input class="data" type="text" th:field="*{serviceType}" readonly /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">State</label></td>
									<td><input class="data" type="text" th:field="*{state}" readonly /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">Begin date</label></td>
									<td><input class="data" type="text" th:field="*{beginDate}" placeholder="dd-MM-yyyy" /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">End date</label></td>
									<td><input class="data" type="text" th:field="*{endDate}" placeholder="dd-MM-yyyy" /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">Approbation date</label></td>
									<td><input class="data" type="text" th:field="*{dateApprobation}" placeholder="dd-MM-yyyy" readonly /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">Comments</label></td>
									<td><input class="data" type="text" th:field="*{comments}" /></td>
								</tr>


								<tr>
									<td colspan="2"><input type="submit" value="Modify request" class="myButton"/></td>
								</tr>
							</table>
						</form>
						<br> <br> <br>


					</center>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>