<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >

<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
				
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_casComitee.html" class="enlace">Home <img src="/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/manageElderlyRequests.html" class="enlace">Manage elderly request <img src="/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/manageElderlyPeople.html" class="enlace">Manage elderly people <img src="/manage.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>
				<td colspan="4">
					<center>
						<br> 
						<br>
						<h1>Update request data</h1>
						<br> 
						<br>

						<form action="#" th:action="@{/request/updateRequest}" th:object="${request}" method="post">
							
							<table class="greenTable3">

								<tr>
									<td><label class="data_title">Service Type</label></td>
									<td><input class="data" type="text" th:field="*{serviceType}" readonly /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">Begin date</label></td>
									<td><input class="data" type="text" th:field="*{beginDate}" placeholder="dd-MM-yyyy" /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">End date</label></td>
									<td><input class="data" type="text" th:field="*{endDate}" placeholder="dd-MM-yyyy" /></td>
								</tr>
								
								
								<tr>
									<td><label class="data_title">Comments</label></td>
									<td><input class="data" type="text" th:field="*{comments}" /></td>
								</tr>
								
								<tr>
									<td><label class="data_title">Id contract</label></td>
									<td><input class="data" type="text" th:field="*{idContract}" readonly/></td>
								</tr>
								
								<tr>
									<td><label class="data_title">DNI Elderly</label></td>
									<td><input class="data" type="text" th:field="*{dniElderly}" readonly/></td>
								</tr>
								
							
									<input type="hidden" th:field="*{state}" value="*{state}"/>
									<input type="hidden" th:field="*{idRequest}" value="*{idRequest}"/>


								<tr>
									
									
									<td colspan="2">
										<br>
										<br>
										<a href="/manageElderlyRequests.html" class="myButton">Back</a> 
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="submit" value="Modify request" class="myButton"/>
									</td>
								</tr>
							</table>
						</form>
						<br> <br> <br>
						

					</center>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>