<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >

<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
				
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_userVolunteer.html" class="enlace">Home <img src="/icons/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/volunteer/updateUser" class="enlace">Edit profile <img src="/icons/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/seeHoursType.html" class="enlace">Manage hours <img src="/icons/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/icons/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<br>
						<h1> List of hours not taken</h1>

						<div  th:if="!${#lists.isEmpty(hoursList)}">
							<table class="greenTableData">
								<thead>	
									<tr>
										<th>Day</th>
										<th>Start hour</th>
										<th>End hour</th>
						
									</tr>
								</thead>
								
							
								<tbody>
							   		<tr th:each="hour: ${hoursList}"> 
								        <td class="hover" th:text="${hour.day}"></td>
								        <td class="hover" th:text="${hour.startHour}"></td>
								        <td class="hover" th:text="${hour.endHour}"></td>
	  
								        
								        <td>
								        	<a th:href="@{/hourVolunteer/deleteUser/{dniVolunteer}/{day}/{startHour}/{endHour}(dniVolunteer=${hour.dniVolunteer}, day=${hour.day}, startHour=${hour.startHour}, endHour=${hour.endHour})}">
								        		<img src="/icons/delete.png" height="50" width="50">
								        	</a>
								        </td>
									</tr>
								</tbody>
							</table>
						
						</div>
						<div th:if="${#lists.isEmpty(hoursList)}">
							<h2> There is nothing here :( </h2>
						</div>
						<br>
						<a href="/hourVolunteer/addHour" class="myButton">Add hour</a> 
						<a href="/index_userVolunteer.html" class="myButton">Back</a> 

						<br>
						<br>
						<br>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>