<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >
<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_casVolunteer.html" class="enlace">Home <img src="/icons/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/manageVolunteers.html" class="enlace">Manage volunteers <img src="/icons/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/volunteer/list" class="enlace">See all volunteers <img src="/icons/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/icons/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<br>
						<h1> List of volunteers</h1>
						
						
						
						<br>
						<br>
						<div  th:if="!${#lists.isEmpty(volunteers)}">
							<table class="greenTableData">
								<thead>	
									<tr>
										<th>Name</th>
										<th>Genre</th>
										<th>Birth date</th>
										<th>Phone</th>
										<th>DNI</th>
										<th>Inscription date</th>
										<th>Acceptation date</th>
										<th>End date</th>					
									</tr>
								</thead>
								
								
								
								
								<tbody>
							   		<tr th:each="volunteer: ${volunteers}"> 
										<td class="hover" th:text="${volunteer.name}"></td> 
										<td class="hover" th:text=${volunteer.gender}></td>
										<td class="hover" th:text="${#temporals.format(volunteer.birthDate,'dd-MM-yyyy')}"></td>
										<td class="hover" th:text="${volunteer.phoneNumber}"></td>
										<td class="hover" th:text="${volunteer.dni}"></td>
										<td class="hover" th:text="${#temporals.format(volunteer.requestDate,'dd-MM-yyyy')}"></td>
										<td class="hover" th:text="${#temporals.format(volunteer.acceptationDate,'dd-MM-yyyy')}"></td>
										<td class="hover" th:text="${#temporals.format(volunteer.endDate,'dd-MM-yyyy')}"></td>
								 							 
								 		<td >
											<a th:href="@{/volunteer/update/{dni}(dni=${volunteer.dni})}">
											<img src="/icons/edit.png" height="50" width="50">
											</a>
										</td>
								 
										 <td>
											<a th:href="@{/volunteer/delete/{dni}(dni=${volunteer.dni})}">
												<img src="/icons/delete.png" height="50" width="50">
											</a>
										 </td>
								 
							  		</tr>
								</tbody>
							</table>
						</div>
						<div th:if="${#lists.isEmpty(volunteers)}">
							<h2> There is nothing here :( </h2>
						</div>
						<br>
						<a href="/index_casVolunteer.html" class="myButton">Back</a> 
						<br>
						<br>
						<br>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>