<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >

<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
				
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_userVolunteer.html" class="enlace">Home <img src="/icons/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/volunteer/updateUser" class="enlace">Edit profile <img src="/icons/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/seeHoursType.html" class="enlace">Manage hours <img src="/icons/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/icons/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<br>
						<h1> List of hours taken by an elderly people</h1>
						<br>
						<br>
						
						<table class="greenTableData">
						
							<thead>	
								<tr>
									<th>Elderly name</th>
									<th>Age</th>
									<th>Address</th>
									<th>Email</th>
									<th>Alergies</th>
									<th>Diseases</th>
									<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th>Day</th>
									<th>Start hour</th>
									<th>End hour</th>
	
								</tr>
							</thead>
							
						
							<tbody>
						   		<tr th:each="hourTaken: ${elderlyList}"> 
							        <td class="hover" th:text="${hourTaken.elderly.name}"></td>
							        <td class="hover" th:text="${hourTaken.age}"></td>
							        <td class="hover" th:text="${hourTaken.elderly.address}"></td>
							        <td class="hover" th:text="${hourTaken.elderly.email}"></td>
							        <td class="hover" th:text="${hourTaken.elderly.alergies}"></td>
							        <td class="hover" th:text="${hourTaken.elderly.diseases}"></td>
							        
							        <td> 															</td>
							        
							        <td class="hover" th:text="${hourTaken.hourVolunteer.day}"></td>
							        <td class="hover" th:text="${hourTaken.hourVolunteer.startHour}"></td>
							        <td class="hover" th:text="${hourTaken.hourVolunteer.endHour}"></td>
 
							        
							        <td>
							        	<a th:href="@{/hourVolunteer/deleteHourTaken/{dniVolunteer}/{day}/{startHour}/{endHour}(dniVolunteer=${hourTaken.hourVolunteer.dniVolunteer}, day=${hourTaken.hourVolunteer.day}, startHour=${hourTaken.hourVolunteer.startHour}, endHour=${hourTaken.hourVolunteer.endHour})}">
							        		<img src="/icons/delete.png" height="50" width="50">
							        	</a>
							        </td>
								</tr>
							</tbody>
						</table>
						<br>
						<a href="/index_userVolunteer.html" class="myButton">Back</a> 
						<br>
						<br>
						<br>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>