<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >
<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_casVolunteer.html" class="enlace">Home <img src="/icons/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/manageVolunteers.html" class="enlace">Manage volunteers <img src="/icons/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/volunteer/list" class="enlace">See all volunteers <img src="/icons/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/icons/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>
				<td colspan="4">
					<center>
						<br> 
						<br>
						<h1>Update volunteer data</h1>
						<br> 
						<br>

						<form action="#" th:action="@{/volunteer/update}" th:object="${volunteer}" method="post"> 
						     <table class="greenTableData">
						     	<tr>
						        	<td>
						            	<label class="data_title">DNI</label></td>
						            <td>
						            	<input class="data_readonly" type="text" th:field="*{dni}" readonly /></td> 
						        </tr>
						        
						        <tr>
									<td>
						            	<label class="data_title">Solicitude data</label></td>
						            <td>
						            	<input class="data" type="text" th:field="*{requestDate}"/></td>
						        </tr>
						        
						        <tr>
						            <td>
						            	<label class="data_title">Acceptation data</label>
						            </td>
						            
						            <td>
						            	<input class="data" type="text" th:field="*{acceptationDate}"/>
						            </td>
						        </tr>
						        
						        <tr>
						            <td><labe class="data_title">End data</label></td>
						            <td><input class="data" type="text" th:field="*{endDate}"/></td>
						        </tr>
						        <tr>
						            <td>
						            	<label class="data_title">Name</label>
						            </td>
						            
						            <td>
						            	<input class="data" type="text" th:field="*{name}" />
						            </td>
						        </tr>
						        
						        <tr>
						            <td>
						            	<label class="data_title">Phone</label>
						            </td>
						            <td>
						            	<input class="data" type="text" th:field="*{phoneNumber}" />
						            </td>
						        </tr>
						        
						        <tr>
						            <td>
						            	<label class="data_title">Genre</label>
						            </td>
						            <td>
						            	<input class="data" type="text" th:field="*{gender}" />
						            </td>
						        </tr>
						        
						        <tr>
						            <td>
						            	<label class="data_title">Birth date</label>
						            </td>
						            <td>
						            	<input class="data" type="text" th:field="*{birthDate}"/>
						            </td>
						        </tr>
						        
						        <tr>
						            <td colspan="2">
										<br>
										<br>
										<a href="/volunteer/list" class="myButton">Back</a> 
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input class="myButton" type="submit" value="Modify volunteer" /></td>
								</tr>
							</table>
    					</form>
						<br> 
						<br>
						<br>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>