<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nouva hora de voluntari</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Crear nouva hora de voluntari</h2>
    <form action="#" th:action="@{/hourVolunteer/add}" 
                     th:object="${hourVolunteer}" method="post"> 
      <table>
        <tr>
            <td><label>DNI persona major</label></td>
            <td><input type="text" th:field="*{dniElderly}" /></td>
            <td th:if="${#fields.hasErrors('dniElderly')}" th:errors="*{dniElderly}"></td>
        </tr>
        <tr>
            <td><label>DNI voluntari</label></td>
            <td><input type="text" th:field="*{dniVolunteer}" /></td>
            <td th:if="${#fields.hasErrors('dniVolunteer')}" th:errors="*{dniVolunteer}"></td>
        </tr>
		<tr>
			<td><label th:field="*{dayType}">Day:</label></td>
			<td><select th:field="*{dayType}">
					<option value="Dilluns">Dilluns</option>
					<option value="Dimarts">Dimarts</option>
					<option value="Dimecres">Diumenge</option>
					<option value="Dijous">Dijous</option>
					<option value="Divendres">Divendres</option>
					<option value="Disapte">Disapte</option>
					<option value="Diumenge">Diumenge</option>
			</select></td>
		</tr>
        <tr>
            <td><label>Hoda d'inici</label></td>
            <td><input type="text" th:field="*{startHour}" placeholder="hh:mm"/></td>
        </tr>
        <tr>
            <td><label>Hora de final</label></td>
            <td><input type="text" th:field="*{endHour}" placeholder="hh:mm"/></td>
        </tr>
        <tr>
            <td><label>Agafat</label></td>
            <td><input type="checkbox" th:field="*{taken}" /></td>
        </tr>
        
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix hora de voluntari" /></td>
        </tr>
      </table>
    </form>
</body>
</html>