<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >

<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
				
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_userVolunteer.html" class="enlace">Home <img src="/icons/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/volunteer/updateUser" class="enlace">Edit profile <img src="/icons/manage.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/seeHoursType.html" class="enlace">Manage hours <img src="/icons/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/icons/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<h1>Add new hour</h1>
						<br>
						<form action="#" th:action="@{/hourVolunteer/addHour}" th:object="${hourVolunteer}" method="post">
								<table class="greenTable3">
									<tr>
										<td>
											<label class="data_title">Day</label></td>
										<td>
											<select th:field="*{day}" class="data">
												<option value="Monday">Monday</option>
												<option value="Tuesday">Tuesday</option>
												<option value="Wednesday">Wednesday</option>
												<option value="Thursday">Thursday</option>
												<option value="Friday">Friday</option>
												<option value="Saturday">Saturday</option>
												<option value="Sunday">Sunday</option>
											</select>
										</td>
									</tr>
						
						
									<tr>
										<td><label class="data_title">Start hour</label></td>
										<td><input type="text" th:field="*{startHour}" class="data" placeholder="dd-MM-yyyy" required/></td>
									</tr>
									
									<tr>
										<td><label class="data_title">End hour</label></td>
										<td><input type="text" th:field="*{endHour}" class="data" placeholder="dd-MM-yyyy" required/></td>
									</tr>
						
									<tr>
										<td colspan="2">
											<br>
											<br>
											<a href="/volunteer/listHoursNotTaken" class="myButton">Back</a> 
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<input type="submit" value="Add" class="myButton"/>
										</td>
									</tr>
								</table>
							</form>
						<br>
						<br>
					</center>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>


