<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar hores de voluntaris</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Gestionar hores de voluntaris</h1>
   <table>
     <thead>
       <tr>
         <th>DNI persona major</th>
         <th>DNI voluntari</th>
         <th>Data</th>
         <th>Hora d'inici</th>
         <th>Hora de finalització</th>
         <th>Agafat</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="hourVolunteer: ${hourVolunteers}"> 
         <td th:text="${hourVolunteer.dniElderly}"></td> 
         <td th:text=${hourVolunteer.dniVolunteer}></td>
         <td th:text="${#temporals.format(hourVolunteer.date,'dd-MM-yyyy')}"></td>
         <td th:text="${hourVolunteer.startHour}"></td>
         <td th:text="${hourVolunteer.endHour}"></td>
         <td th:text="${hourVolunteer.taken}"></td>
         <td><a th:href="@{/hourVolunteer/update/{dniElderly}/{dniVolunteer}/{date}(dniElderly=${hourVolunteer.dniElderly}, dniVolunteer=${hourVolunteer.dniVolunteer}, date=${hourVolunteer.date})}">Edita</a> 
         </td>
         <td><a th:href="@{/hourVolunteer/delete/{dniElderly}/{dniVolunteer}/{date}(dniElderly=${hourVolunteer.dniElderly}, dniVolunteer=${hourVolunteer.dniVolunteer}, date=${hourVolunteer.date})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Afegeix hores de voluntaris</a> 
</body>
</html>