<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/theme.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa"/>
<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_ElderlyPeople.html" class="enlace">Home <img src="/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/requestType.html" class="enlace">Add new request <img src="/add.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/seeRequestType.html" class="enlace">See all request <img src="/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<br>
						<h1> List of compatible volunteers </h1>
						
						
						
						<br>
						<br>
						<table class="greenTableData">
							<thead>	
								<tr>
									<th>Name</th>
							        <th>Gender</th>
							        <th>Age</th>
								</tr>
							</thead>
							
							
							
							
							<tbody>
								<tr th:each="requestVolunteer: ${requestVolunteers}"> 
							         <td th:text=${requestVolunteer.volunteer.name}></td>
							         <td th:text="${requestVolunteer.volunteer.gender}"></td>
							         <td th:text="${requestVolunteer.age}"></td>
         
							         <td>
							         	<a th:href="@{/hourVolunteer/create/{startHourElderly}/{endHourElderly}/{dniVolunteer}/{day}/{startHour}/{endHour}
							         			(startHourElderly=${requestVolunteer.search.startHour}, 
							         			endHourElderly=${requestVolunteer.search.endHour}, 
							         			dniVolunteer=${requestVolunteer.hourVolunteer.dniVolunteer},
							         			day=${requestVolunteer.hourVolunteer.day},
							         			startHour=${requestVolunteer.hourVolunteer.startHour},
							         			endHour=${requestVolunteer.hourVolunteer.endHour})}" class="myButton">Choose this volunteer</a> 
							         </td>
       							</tr>
							</tbody>
						</table>
						<br>
						<a href="/requestType.html" class="myButton">Back</a> 
						<br>
						<br>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>