<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar factures</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Llista de factures</h1>
   <table>
     <thead>
       <tr>
         <th>Codi de factura</th>
         <th>Preu</th>
         <th>DNI de la persona major</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="invoice: ${invoices}"> 
         <td th:text="${invoice.invoiceCode}"></td> 
         <td th:text="${invoice.totalPrice}"></td>
         <td th:text="${invoice.dniElderly}"></td>      
         <td><a th:href="@{/invoice/update/{invoiceCode}(invoiceCode=${invoice.invoiceCode})}">Edita</a> 
         </td>
         <td><a th:href="@{/invoice/delete/{invoiceCode}(invoiceCode=${invoice.invoiceCode})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Afegeix factura</a> 
</body>
</html>
