<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modificar factura</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Modificar factura</h2>
    <form action="#" th:action="@{/invoice/update}" 
                     th:object="${invoice}" method="post"> 
      <table>
        <tr>
            <td><label>Codi de factura</label></td>
            <td><input type="number" th:field="*{invoiceCode}" disabled/></td> 
        </tr>
        <tr>
            <td><label>Preu</label></td>
            <td><input type="number" th:field="*{totalPrice}" /></td>
        </tr>
        <tr>
            <td><label>DNI de la persona major</label></td>
            <td><input type="text" th:field="*{dniElderly}" /></td>
        </tr>
        
        <tr>
            <td colspan="2"><input type="submit" value="Modificar factura" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
