<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >

<meta charset="UTF-8">
<title>ElderlyPeople</title>
</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
				
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu">

					<h1 th:text="${session.message}" th:unless="${session == null}">An unexpected error has occured </h1>
					<a th:href="${session.reference}" class="myButton"> Back </a>
					<p></p>
				
				</td>
			</tr>

			
		</tbody>
	</table>
	<br>
	<br>
</body>
</html>