<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >
<meta charset="UTF-8">
<title>ElderlyPeople</title>

<head>

</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_casManager.html" class="enlace">Home <img src="/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/company/add" class="enlace">Add new company <img src="/add.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/company/list" class="enlace">See all company <img src="/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<h1>Add new contract</h1>
						    
						    <form action="#" th:action="@{/contract/add}" th:object="${contract}" method="post"> 
						      <table class="greenTable3">
						        <tr>
						            <td><label class="data_title">id contract</label></td>
						            <td><input type="number" th:field="*{idContract}" class="data"/></td> 
						            <td th:if="${#fields.hasErrors('idContract')}" th:errors="*{idContract}"></td>
						        </tr>
						        <tr>
						            <td><label class="data_title">Fiscal number company	</label></td>
						            <td><input type="text" th:field="*{fnCompany}" class="data"/></td>
						            <td th:if="${#fields.hasErrors('fnCompany')}" th:errors="*{fnCompany}"></td>
						        </tr>
						        <tr>
						            <td> <label class="data_title" th:field="*{serviceType}">Service type</label> </td>
						            <td> 
						            	
						            	<select class="data" th:field="*{serviceType}">
									    	<option value="Catering">Catering</option>
									    	<option value="Cleaning">Cleaning</option>
									    	<option value="Sanity">Sanity</option>
									  	</select>
						            </td>
						        </tr>
						         <tr>
						            <td><label class="data_title">Quantity</label></td>
						            <td><input type="number" th:field="*{quantity}" class="data"/></td>
						            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></td>
						        </tr>
						         <tr>
						            <td><label class="data_title">Start date</label></td>
						            <td><input type="text" th:field="*{startDate}" placeholder="dd-MM-yyyy" class="data"/></td>
						            <td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></td>
						        </tr>
						         <tr>
						            <td><label class="data_title">End date</label></td>
						            <td><input type="text" th:field="*{endDate}" placeholder="dd-MM-yyyy" class="data"/></td>
						            <td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
						        </tr>
						         <tr>
						            <td><label class="data_title">Price</label></td>
						            <td><input type="number" th:field="*{price}" class="data"/></td>
						            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
						        </tr>
						        
						        
						        <tr>
						            <td colspan="2">
						            
						            	<br>
									    <br>
									    <a href="/company/list" class="myButton">Back</a> 
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						            	<input type="submit" value="Add new contract" class="myButton"/>
						            </td>
						        </tr>
						      </table>
						      						
						    </form>
							<br>
							<br>


					</center>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>


