<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nou contracte</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nou contracte</h2>
    <form action="#" th:action="@{/contract/add}" 
                     th:object="${contract}" method="post"> 
      <table>
        <tr>
            <td><label>id</label></td>
            <td><input type="number" th:field="*{idContract}" /></td> 
            <td th:if="${#fields.hasErrors('idContract')}" th:errors="*{idContract}"></td>
        </tr>
        <tr>
            <td><label>Empresa</label></td>
            <td><input type="text" th:field="*{fnCompany}" /></td>
            <td th:if="${#fields.hasErrors('fnCompany')}" th:errors="*{fnCompany}"></td>
        </tr>
        <tr>
            <td> <label th:field="*{serviceType}">Tipus de servei:</label> </td>
            <td> 
            	
            	<select th:field="*{serviceType}">
			    	<option value="Catering">Catering</option>
			    	<option value="Cleaning">Cleaning</option>
			    	<option value="Sanity">Sanity</option>
			    	<option value="Others">Others</option>
			  	</select>
            </td>
        </tr>
         <tr>
            <td><label>Quantitat</label></td>
            <td><input type="number" th:field="*{quantity}" /></td>
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></td>
        </tr>
         <tr>
            <td><label>Data d'inici</label></td>
            <td><input type="text" th:field="*{startDate}" placeholder="dd-MM-yyyy"/></td>
            <td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></td>
        </tr>
         <tr>
            <td><label>Data de fi</label></td>
            <td><input type="text" th:field="*{endDate}" placeholder="dd-MM-yyyy"/></td>
            <td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></td>
        </tr>
         <tr>
            <td><label>Preu</label></td>
            <td><input type="number" th:field="*{price}" /></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
        </tr>
        
        
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix contracte" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
