<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/themeBACK.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" >
<meta charset="UTF-8">
<title>ElderlyPeople</title>

<head>

</head>


<body>
	<table class="greenTable">
		<thead>
			<tr>
				<th align="center" colspan="4">Elderly People at Home</th>
			</tr>

		</thead>

		<tfoot>
			<tr>
				<td colspan="4">Creado por el grupo JODIMI.</td>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td class="menu"><a href="/index_casManager.html" class="enlace">Home <img src="/icons/home.png" height="50" width="50"> </a></td>
				<td class="menu"><a href="/company/add" class="enlace">Add new company <img src="/icons/add.png" height="50" width="50"></a></td>
				<td class="menu"><a href="/company/list" class="enlace">See all company <img src="/icons/see.png" height="50" width="50"></a></td>
				<td class="logout"><a href="/logout" class="enlace_logout"> <img src="/icons/logout.png" height="50" width="50"> logout </td>
			</tr>

			<tr>

				<td colspan="4">
					<center>

						<br>
						<h1>Contracts list</h1>
					   <table class="greenTableData">
					     <thead>
					       <tr>
					         <th>Id contract</th>
					         <th>Fiscal number company</th>
					         <th>Service type</th>
					         <th>Quantity</th>
					         <th>Available</th>
					         <th>Start date</th>
					         <th>End date</th>
					         <th>Price</th>
					       </tr>
					     </thead>
					     <tbody>
					       <tr th:each="contract: ${contracts}"> 
					         <td class="hover" th:text="${contract.idContract}"></td> 
					         <td class="hover" th:text="${contract.fnCompany}"></td>
					         <td class="hover" th:text="${contract.serviceType}"></td>
					         <td class="hover" th:text="${contract.quantity}"></td>
					         <td class="hover" th:text="${contract.available}"></td>
					         <td class="hover" th:text="${contract.startDate}" placeholder="dd-MM-yyyy"></td>
					         <td class="hover" th:text="${contract.endDate}" placeholder="dd-MM-yyyy"></td>
					         <td class="hover" th:text="${contract.price}"></td>         
					         
					         
					         <td>
					         	<a th:href="@{/contract/update/{idContract}(idContract=${contract.idContract})}">
							    <img src="/icons/edit.png" height="50" width="50">
							    </a>
					         </td>
					         
					         
					         <td>
							    <a th:href="@{/contract/delete/{idContract}(idContract=${contract.idContract})}">
							    <img src="/icons/delete.png" height="50" width="50"> </a> 
					         </td>
					         
					       </tr>
					     </tbody>
					     	
					   </table>
					   
					   		<br>
					   		<br>						
							<a href="/company/list" class="myButton">Back</a> 		
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					   		<a th:href="@{/contract/addUser/{fiscalNumber}(fiscalNumber=${fiscalNumber})}" class="myButton">Add new contract</a> 
					   		
					   		
					   		<br>
							<br>
							

					</center>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>


